@import url("https://fonts.googleapis.com/css?family=Voltaire");
#world {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dbe6e6;
  overflow: hidden;
}

.by{

  position: absolute;	
 width: 100%;
 text-align: center;
 bottom: 7px;
 opacity: 0.3;
 font-size: 1.53em;
 font-family: monospace;
 }

 #dist {
 position: absolute;
 left: 50%;
 top: 0.7em;
 transform: translate(-50%, 0%);
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
.label {
 position: relative;
 font-family: "Voltaire", sans-serif;
 text-transform: uppercase;
 color: #ffa873;
 font-size: 30px;
 letter-spacing: 2px;
 text-align: center;
 margin-bottom: 5px;
}
#distValue {
 position: relative;
 text-transform: uppercase;
 color: #dc5f45;
 font-size: 50px;
 font-family: "Voltaire";
 text-align: center;
}
#gameoverInstructions {
 position: absolute;
 font-family: "Voltaire", sans-serif;
 font-weight: bolder;
 text-transform: uppercase;
 font-size: 137px;
 text-align: center;
 color: #ff0000;
 opacity: 0;
 left: 50%;
 top: 50%;
 width: 100%;
 transform: translate(-50%, -100%);
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
 transition: all 500ms ease-in-out;
}
#gameoverInstructions.show {
 opacity: 1;
 transform: translate(-50%, -50%);
 transition: all 500ms ease-in-out;
}

